/* footer css */

footer {
    padding-top: 80px;
}

footer h5 {
    color: var(--light-black);
    margin-bottom: 25px;
    font-weight: 600;
    line-height: 1;
}

footer p {
    margin-bottom: 3px;
    font-size: 1rem;
}

footer .calling {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--yellow);
    text-decoration: none;
}

footer ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.4rem;
}