/* section 3 menu section */
.menu_section {
    padding: 100px 0;
}

.menu_section .card-img-top {
    transition: all 0.5s ease-in-out;
}

.menu_section .card:hover .card-img-top {
    transform: scale(1.1);
}

.menu_section h2 {
    font-size: 3.5rem;
    color: var(--light-red);
    font-weight: 600;
}

.menu_section .para {
    color: var(--gray);
    padding: 10px 100px;
    font-size: 19px;
    text-align: center;
}

.menu_section .item_rating i {
    color: var(--yellow);
    padding-right: 5px;
}

.menu_section .wishlist i {
    color: var(--gray);
    font-size: 20px;
    cursor: pointer;
}

.menu_section .wishlist i:hover {
    color: var(--light-red);
}

.menu_section .card-title {
    margin-top: 5px;
    font-family: var(--oswaild-font);
    font-weight: 600;
    margin-bottom: 10px;
}

.menu_section .card-text {
    color: var(--gray);
    font-size: 15px;
}

.menu_section .menu_price {
    background-color: var(--bg-cofee);
    padding: 7px 12px;
    border-radius: 4px;
}

.menu_section .menu_price h5 {
    color: var(--yellow);
    font-size: 1rem;
    cursor: pointer;
}

.menu_section .add_to_card a {
    text-decoration: none;
    background-color: var(--yellow);
    display: inline-block;
    line-height: 1;
    font-weight: 700;
    padding: 8px 12px;
    border-radius: 4px;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    color: var(--gray);

}

.menu_section .card:hover .add_to_card a {
    transform: translateY(0);
    opacity: 1;
}

.menu_section .ads_box {
    text-align: right;
    padding: 100px 35px 50px;
    border-radius: 5px;

}

.menu_section .ads_img1 {
    background: url('../assets/assets/menu/ads-1.jpg') no-repeat center center;
    background-size: cover;
}

.menu_section .ads_img2 {
    background: url('../assets/assets/menu/ads-2.jpg') no-repeat center center;
    background-size: cover;
}

.menu_section .ads_box h4 {
    font-size: 2rem;
    padding: 10px 0;
    font-weight: 300;
    color: var(--brown);

}

.menu_section .ads_box h5 {
    font-size: 2rem;
    color: var(--brown);
    padding-bottom: 15px;

}

@media(max-width:992px) {
    .menu_section .para {
        color: var(--gray);
        padding: 10px 0;
        font-size: 19px;
        text-align: center;

    }
}