/* about_section section 2 css */

.about_section {
    padding-top: 80px;
    padding-bottom: 300px;
    background: url('../assets/assets/about/about-1.jpg') no-repeat center center;
    background-size: cover;
}

.about_section h2 {
    font-size: 2.5625rem;
    line-height: 1.2;
    font-weight: 700;
}

.about_section p {
    color: var(--gray);
    padding: 20px 30px;
}

/* about wrapper  */

.about_wrapper {
    background: var(--yellow);
    padding-top: 70px;
    padding-bottom: 30px;

}



.about_box .about_icon img {
    width: 25%;
}

.about_box {
    transition: all 0.5s ease-in-out;
}



.about_box .about_icon h4 {
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.5008px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.about_box .about_icon p {
    padding: 0 20px;
}


/* media query */

@media(max-width:992px) {
    .about_section h2 {
        font-size: 2rem;
    }

    .about_section p {
        padding: 20px 0;
    }

    .about_box p {
        padding: 0;
    }
}