/* section 5 css shop sec */

.shop_section {
    background-color: var(--yellow);
    padding: 100px 0 0;
}

.shop_section h4 {
    font-size: 2.3rem;
    font-weight: 400;
    color: var(--bg-cofee);
}

.shop_section h2 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--bg-cofee);
    letter-spacing: -1px;
}

.shop_section p {
    font-size: 1.125rem;
    padding-right: 10%;
    color: var(--bg-cofee);
    margin-bottom: 40px;
}

.shop_section .store {
    max-width: 40%;
}

.brand_section {
    background: var(--light-gray);
    padding: 70px 0 40px;
    overflow: hidden;
}

.brand_section .brand_img {
    width: 180px;
    height: auto;
}

.carousel.slide .carousel-inner {
    overflow: unset;
}

.carousel.slide .carousel-inner .carousel-caption {
    position: relative;
    right: unset;
    left: unset;
}