*{
    margin: 0;
    padding: 0;
}
.navbar-nav li a{
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}
  .navbar-nav  li  a:focus{
    border-bottom: 3px solid orange;
  }
  .create{
    height: 140vh !important;
  }
.form{
  width: 40%;
  background-color: #fff !important;
  margin: auto;
  padding: 70px 40px;
}
.form input{
  border: none;
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #212121;
}

.create{
  /* height: 150vh !important; */
}

@media(max-width:600px){
  .form{
    width: 100%;
    background-color: #fff !important;
    margin: auto;
    padding: 70px 40px;
  }
}

@media(max-width:600px){
  th{
    font-size: 13px !important;
  }
  td{
    font-size: 10px !important;
  }

}