/* index css */


/* google font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;1,100&family=Noto+Sans+Syloti+Nagri&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;1,200;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300&family=Poppins:ital,wght@0,100;0,400;0,500;0,700;1,500;1,600&family=Roboto:ital,wght@1,300;1,400&family=Sassy+Frass&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;1,100&family=Noto+Sans+Syloti+Nagri&family=Noto+Sans:ital,wght@0,500;0,600;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300&family=Poppins:ital,wght@0,100;0,400;0,500;0,700;1,500;1,600&family=Roboto:ital,wght@1,300;1,400&family=Sassy+Frass&family=Shadows+Into+Light&display=swap');


/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Variables */

:root {
  /* font family */
  --roboto-font: "Roboto", sans-serif;
  --liliate-font: 'Lilita One', cursive;
  --oswaild-font: 'Oswald', sans-serif;

  /* colors */
  --light-black: #333;
  --light-white: #f7f7f7;
  --light-red: #e3000e;
  --light-gray: #f6f9fa;
  --light-gray-2: #dddddd;
  --white: #fff;
  --yellow: #f7be27;
  --gray: #757575;
  --brown: #6f5e4d;
  --bg-cofee: #641f21;
}

body,
html {
  font-size: 1rem;
  font-family: var(--roboto-font);
  font-weight: 300;

}

@media(max-width:992px) {

  body,
  html {
    font-size: .8031rem;
  }
}

/* headline tag */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--oswaild-font);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.3;

}

p {
  font-size: 1rem;
}

/* anchor tag */
a {
  color: var(--light-black);
  text-decoration: none;
  transition: all 0.4s ease-in-out;

}

/* custome scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--yellow);
}


/* common button */
.order-now,
.btn-red {
  color: var(--light-black);
  background: var(--yellow) !important;
  border-color: var(--yellow);
  padding: 15px 38px;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.5;
  font-family: var(--oswaild-font);
  vertical-align: middle;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.order-now:hover,
.order-now:focus {
  color: var(--light-red);
  background: var(--white) !important;
  border-color: var(--white) !important;

}

.btn-red {
  color: var(--white);
  background: var(--light-red) !important;
  border-color: var(--light-red);
}

.btn-red:hover,
.btn-red:focus {
  color: var(--light-black);
  background: transparent;
  border-color: var(--light-red);
}